<template>
    <div class="w-100 payments_table">

            <Alert class="mb-5" type="warning" v-if="this.$route.query.payment_processed || this.$route.query.transaction">
                {{ $t('payments.payment_processed') }}
            </Alert>

        <div v-if="!loading">


        <div v-if="size_unpaid">


            <div class="d-flex justify-content-end mb-4 " style="margin-top: -25px">

                <a :href="route('api.user.payment-online-auth',{payment_id: 'all',returnUrl: window.location.href+'?transaction=return' } )" class="btn btn-danger" > {{$t('payments.pay_all_unpaid', [sum_unpaid] )}}</a>

            </div>


                <ol class="collection collection-container">

                    <li class="item item-container"
                        v-for="payment in un_paid"
                    >

                        <div class="attribute  created_at">
                            <span class="header"> {{ $t('payments.created_at') }} </span>
                            <span> {{ formatDate(payment.created_at) }} </span>
                        </div>

                        <div class="attribute  narration">
                            <span  class="header"> {{ $t('payments.narration') }}  </span>
                            <div> {{ payment.narration }} </div>
                        </div>

                        <div class="attribute  pay_should">
                            <span  class="header"> {{ $t('payments.left_to_pay') }} </span>
                            <span> {{ payment.left_to_pay }}  </span>
                        </div>

                        <div class="attribute  paid" v-if="size_unpaid > 1">
                            <a :href="route('api.user.payment-online-auth',{payment_id: payment.id,returnUrl: window.location.href+'?transaction=return' } )" class="btn btn-secondary" > {{$t('payments.pay' )}}</a>
                        </div>


                        <ul v-if="payment.paymentables.length" class="has_pyables">

                            <li v-for="paymentable in payment.paymentables" :key="paymentable.id" class="paymentable">

                                <div class="attribute created_at">
                                    <span class="header"> {{ $t('payments.created_at') }} </span>
                                    <span> {{ formatDate(paymentable.created_at) }} </span>
                                </div>

                                <div class="attribute narration">
                                    <span  class="header"> {{ $t('payments.narration') }}  </span>
                                    <div>{{ paymentable.narration ? paymentable.narration : paymentable.name   }} </div>
                                </div>



                                <div class="attribute amount">
                                    <span  class="header"> {{ $t('payments.amount') }} </span>
                                    <span>

                                  <div v-if="paymentable.paid" class="paid">{{paymentable.paid}}</div>

                                  <div v-if="paymentable.pay_should" class="pay_should">{{paymentable.pay_should}}</div>

                                </span>
                                </div>


                                <!--                            <div class="attribute  paid">-->
                                <!--                                <span class="header"> {{ $t('payments.paid') }} </span>-->
                                <!--                                <span> {{paymentable.paid}} </span>-->
                                <!--                            </div>-->





                            </li>


                        </ul>


                    </li>

                </ol>


            </div>

        <div v-if="_.size(paid)">


            <div class="d-flex justify-content-center my-5" v-if="size_unpaid > 0">


                <button v-on:click="show_paid=!show_paid" class="btn btn-secondary" > <i :class="'fal fa-arrow-alt-'+(show_paid_c ? 'up' : 'down')"></i>  {{$t('payments.history')}} </button>


            </div>


            <ol class="collection collection-container" v-show="show_paid_c">

                <li class="item item-container"
                    v-for="payment in paid"
                >



                    <div class="attribute  created_at">
                        <span class="header"> {{ $t('payments.created_at') }} </span>
                        <span> {{ formatDate(payment.created_at) }} </span>
                    </div>

                    <div class="attribute  narration">
                        <span  class="header"> {{ $t('payments.narration') }}  </span>
                        <div> {{ payment.narration }} </div>
                    </div>

                    <div class="attribute  pay_should">
                        <span  class="header"> {{ $t('payments.pay_should') }} </span>
                        <span> {{ payment.pay_should }}  </span>
                    </div>

                    <div class="attribute  paid">
                        <span class="header"> {{ $t('payments.paid') }} </span>
                        <span> {{ payment.paid }} </span>
                    </div>



                    <ul v-if="payment.paymentables.length" class="has_pyables">

                        <li v-for="paymentable in payment.paymentables" :key="paymentable.id" class="paymentable">

                            <div class="attribute created_at">
                                <span class="header"> {{ $t('payments.created_at') }} </span>
                                <span> {{ formatDate(paymentable.created_at) }} </span>
                            </div>

                            <div class="attribute narration">
                                <span  class="header"> {{ $t('payments.narration') }}  </span>
                                <div>{{ paymentable.narration ? paymentable.narration : paymentable.name   }} </div>
                            </div>



                            <div class="attribute amount">
                                <span  class="header"> {{ $t('payments.amount') }} </span>
                                <span>

                                  <div v-if="paymentable.paid" class="paid">{{paymentable.paid}}</div>

                                  <div v-if="paymentable.pay_should" class="pay_should">{{paymentable.pay_should}}</div>

                                </span>
                            </div>


<!--                            <div class="attribute  paid">-->
<!--                                <span class="header"> {{ $t('payments.paid') }} </span>-->
<!--                                <span> {{paymentable.paid}} </span>-->
<!--                            </div>-->





                        </li>


                    </ul>






                </li>

            </ol>






            </div>

        <div v-if="!_.size(payments)">


            <NotExist>

                <template v-slot:info>
                    {{ $t('payments.no_exists') }}
                </template>


                <template v-slot:icon>
                    <i class="fad fa-wallet fa-7x"></i>
                </template>


            </NotExist>


        </div>


        </div>
        <div v-else>
            Wczytuje...
        </div>


    </div>
</template>

<script>

import dateHelper from '../../helpers/dates.js';

import ButtonCreate from "../../components/ButtonCreate";
import NotExist from "../../components/NotExist";
import axios from "axios";
import Alert from "../../components/Alert";

export default {
    middleware: 'auth',
    layout: 'account',


    components: {
        NotExist, ButtonCreate,Alert
    },

    data: function () {
        return {
            loading: true,
            show_paid: false,
            payments: {}

        }
    },
    created () {
        this.fetchData()
    },
    watch: {
        '$route': 'fetchData'
    },

    computed: {
        paid: function () {

           return _.filter(this.payments, function(o) { return parseFloat(o.left_to_pay) <= 0; });



                },
        un_paid: function () {

            return _.filter(this.payments, function(o) { return parseFloat(o.left_to_pay) > 0; });

                },
        size_unpaid: function () {

            return _.size(this.un_paid);

        },
        sum_unpaid: function () {

            return _.sumBy(this.un_paid, 'left_to_pay');

        },
            show_paid_c: function () {


            if(!_.size(this.un_paid))
                return true;

                return this.show_paid

            },




    },

    methods: {
         formatDate(aa) {
             return dateHelper.format(aa);
        },


         fetchData() {

             axios.get(route('api.user.payments.index') )
                 .then((response) => {

                     this.payments = response.data.data;
                 }).finally(() => {
                 this.loading = false;
             });

        }
    }
}
</script>


