<template>

    <div>


        <table>

            <thead>
            <tr>
                <th scope="col">Uczestnik zajęć</th>
                <th scope="col">Opis płatności</th>
                <th scope="col">Do zapłaty</th>
                <th scope="col" width="20%">    <button type="button" class="btn btn-danger w-100">Opłać wszytko</button> </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="Account">Jan Kowalski</td>
                <td data-label="Due Date">Opłata miesięczna / Grupa Perełki / Sierpień 2020</td>
                <td data-label="Amount">100zł</td>
                <td data-label="Period"><button type="button" class="btn btn-secondary w-100">Opłać</button></td>
            </tr>

            </tbody>
        </table>



        <div class="text-center">

            <router-link to="/logaut" class="btn btn-secondary ">

                <i class="fa fa-bill"></i>  Historia płatności

            </router-link>




        </div>



    </div>

</template>

<script>



import axios from "axios";

export default {
  middleware: 'auth',

  layout: 'account',

    data: function () {
        return {
            count: 0
        }
    },

    async beforeRouteEnter (to, from, next) {
        // try {
        //     const { data } = await axios.get(`/api/email/verify/${to.params.id}?${qs(to.query)}`)
        //
        //     next(vm => { vm.success = data.status })
        // } catch (e) {
        //     next(vm => { vm.error = e.response.data.status })
        // }
    },


    metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
