<template>
  <ion-page  class="tab_account">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Moje konto</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">


      <ion-card >
        <ion-card-header >
          <ion-card-title>Płatności</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="flex">
          <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor" fill="#10b981" viewBox="0 0 1792 1792"><path d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"></path></svg>  brak zaległych płatności
          </div>
        </ion-card-content>
      </ion-card>


      <ion-card  >
        <ion-card-header>
          <ion-card-title>Zamówienia</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          brak zamówień w trakcie realizacji
        </ion-card-content>
      </ion-card>

      <ion-card  >
        <ion-card-header>
          <ion-card-title>Zajęcia grupowe</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <div class="flex items-center"><h4 class="flex-shrink-0 pr-4 bg-white dark:bg-gray-800 text-sm leading-5 tracking-wider font-semibold uppercase text-indigo-600">Adam Kowalski</h4><div class="flex-1 border-t-2 border-gray-200"></div></div>

          <div class="flex flex-col justify-between ml-4 text-sm"><p class="text-gray-800 dark:text-white">Samuraj GYM - Boks</p><p class="text-gray-400 dark:text-gray-300">czwartek, 20 lutego 2021, godz. 18:00</p></div>

        </ion-card-content>
      </ion-card>





      <ion-card  >
        <ion-card-header>
          <ion-card-title>Uczestnicy</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          opis :)
        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header>
          <ion-card-title>Ustawienia konta</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          opis :)
        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header>
          <ion-card-title>Wyloguj się</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          opis :)
        </ion-card-content>
      </ion-card>



    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
import ExploreContainer from '@/components/ExploreContainer.vue';

export default  {
  name: 'Tab3',
  components: { ExploreContainer, IonHeader, IonToolbar, IonTitle, IonContent, IonPage }
}
</script>