<template>
    <card :title="$t('your_info')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">

            <alert-success :form="form" :message="$t('form.success')"></alert-success>
            <alert-error :form="form" :message="$t('form.error')"></alert-error>


            <!-- Name -->
            <div class="form-group row mb-5">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.current_password') }}</label>
                <div class="col-md-7">
                    <input v-model="form.old_password" :class="{ 'is-invalid': form.errors.has('old_password') }"
                           class="form-control" type="password" name="old_password">
                    <has-error :form="form" field="old_password"/>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.new_password') }}</label>
                <div class="col-md-7">
                    <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }"
                           class="form-control" type="password" name="password">
                    <has-error :form="form" field="password"/>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{
                        $t('attributes.password_confirmation')
                    }}</label>
                <div class="col-md-7">
                    <input v-model="form.password_confirmation"
                           :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                           class="form-control" type="password" name="password_confirmation">
                    <has-error :form="form" field="password_confirmation"/>
                </div>
            </div>


            <FormFooter>

                <ButtonSave :loading="form.busy"/>

            </FormFooter>

        </form>
    </card>
</template>

<script>
import Form from 'vform'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";

export default {
    scrollToTop: false,

    components: {
        ButtonSave, FormFooter
    },


    data: () => ({
        form: new Form({
            old_password: '',
            password: '',
            password_confirmation: ''
        })
    }),

    methods: {
        async update() {
            await this.form.put(route('api.user.account.update', 'password'))

            this.form.clear();
        }
    }
}
</script>
