<template>
  <div class="row">
    <div class="col-md-4">
<div class="kt-section">
    <div class="kt-section__content kt-section__content--x-fit">
        <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v3" role="tablist">


            <router-link
                v-for="tab in tabs" :key="tab.route.name"
                :to=tab.route
                v-slot="{ href, route, navigate, isActive, isExactActive }"
            >
                <li
                    :class="[isActive ||  isExactActive ? 'active' : null]"
                    class="kt-nav__item"  >

                    <a :href="href" @click="navigate" class="kt-nav__link">

                        <span class="kt-nav__link-icon" v-html="tab.icon"></span>
                        <span class="kt-nav__link-text">   {{ tab.name }}</span>

                    </a>

                </li>
            </router-link>


        </ul>

    </div>
</div>


    </div>
    <div class="col-md-8">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
export default {
    middleware: 'auth',
    layout: 'account',
  computed: {
    tabs () {
      return [
        {
          icon: '<i class="fal fa-user-circle"></i>',
          name: this.$t('account.profile'),
          route: { name:'settings.profile'}
        },

          {
              icon: '<i class="fal fa-key"></i>',
              name: this.$t('account.change_password'),
              route: { name:'settings.change-password'}
          },




        // {
        //   icon: '<i class="fal fa-credit-card-front"></i>',
        //   name: this.$t('account.credit_card'),
        //   route: { name:'settings.credit-card'}
        // },
          {
              icon: '<i class="fal fa-user-times"></i>',
              name: this.$t('account.remove_account'),
              route: { name:'settings.remove-account'}
          },




      ]
    }
  }
}
</script>


