<template>
    <card :title="$t('your_info')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">

            <alert-success :form="form"  :message="$t('form.success')"></alert-success>
            <alert-error :form="form" :message="$t('form.error')"></alert-error>


            <!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.name') }}</label>
                <div class="col-md-7">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                           class="form-control" type="text" name="name" readonly>
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- surname -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.surname') }}</label>
                <div class="col-md-7">
                    <input v-model="form.surname" :class="{ 'is-invalid': form.errors.has('surname') }"
                           class="form-control" type="text" name="surname" readonly>
                    <has-error :form="form" field="surname"/>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.phone') }}</label>
                <div class="col-md-7">
                    <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }"
                           class="form-control" type="number" name="phone">
                    <has-error :form="form" field="phone"/>
                </div>
            </div>

            <!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.email') }}</label>
                <div class="col-md-7">
                    <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }"
                           class="form-control" type="email" name="email">
                    <has-error :form="form" field="email"/>
                </div>
            </div>

            <FormFooter>

                <ButtonSave :loading="form.busy"/>

            </FormFooter>

        </form>
    </card>
</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";

export default {
    scrollToTop: false,

    components: {
        ButtonSave, FormFooter
    },


    data: () => ({
        form: new Form({
            name: '',
            surname: '',
            phone: '',
            email: '',

        })
    }),

    computed: mapGetters({
        user: 'auth/user'
    }),

    created() {
        // Fill the form with user data.
        this.form.keys().forEach(key => {
            this.form[key] = this.user[key]
        })
    },

    methods: {
        async update() {
            const {data} = await this.form.post( route('api.user.account.store') )

            this.$store.dispatch('auth/updateUser', {user: form.getAll() })
        }
    }
}
</script>
