<template>
    <card :title="$t('your_info')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">

            <alert-error :form="form" :message="$t('form.error')"></alert-error>


            <!-- Name -->
            <div class="form-group row mb-5">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.current_password') }}</label>
                <div class="col-md-7">
                    <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }"
                           class="form-control" type="password" name="password" >
                    <has-error :form="form" field="password"/>
                </div>
            </div>


            <FormFooter>

                <ButtonSave :loading="form.busy" :message="$t('account.remove_my_account')"/>

            </FormFooter>

        </form>
    </card>
</template>

<script>
import Form from 'vform'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";


export default {
    scrollToTop: false,

    components: {
        ButtonSave, FormFooter
    },


    data: () => ({
        form: new Form({
            password: '',
        })
    }),



    methods: {
        async update () {
            await this.form.delete( route('api.user.account.update','password') )

            await this.$store.dispatch('auth/clearAllState');

            this.$router.push({ name: 'login', params: { removed_account: true }  });

        }
    }
}
</script>
