<template>
  <div>


 Zamówienia


  </div>
</template>

<script>
import axios from "axios";


export default {
    name: 'OrdersList',
    middleware: 'auth',
    layout: 'account',

    components: {

    },

    data: function () {
        return {
            success: true,
            error: false,
            activities: {},
            selectFilters: {
                'age-categories': 0,
                'sports': 0,
                'levels': 0,
                'sections': 0,
                'instructors': 0

            }
        }
    },


    async beforeRouteEnter (to, from, next) {
        try {
            const data = await axios.get( route('api.club.list-of-classes') );

            next(vm => { vm.activities = data.data })
        } catch (e) {

            next(vm => { vm.error = e.response.data})
        }
    },

  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
