<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <card>
          <div class="text-center p-3">
          <h1>{{$t('reset_password')}}</h1>
          </div>
        <form @submit.prevent="send" @keydown="form.onKeydown($event)"  class="my-4">
          <alert-success :form="form" message="Wiadomosć zostła wysłana" class="alert-info" />

          <!-- Email -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-md-7">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control"
                     type="email" name="email" required="required">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group row">
            <div class="col-md-9 ml-md-auto">

                <ButtonSave :loading="form.busy" :message="$t('send_password_reset_link')" />

            </div>
          </div>
        </form>
      </card>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import ButtonSave from "../../../components/ButtonSave";

export default {
  middleware: 'guest',

    components: {
        ButtonSave
    },

  data: () => ({
    status: '',
    form: new Form({
      email: ''
    })
  }),

  methods: {
    async send () {
      const { data } = await this.form.post( route('api.user.password.email') )

      this.status = data.status

      this.form.reset()
    }
  }
}
</script>
