<template>

    <div>
        <card :title="$t('your_info')">
            <form @submit.prevent="update" @keydown="form.onKeydown($event)">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('absense.date') }}</label>
                    <div class="col-md-7 d-flex align-items-center">

                <div class="form-check form-check-inline" v-if="_.get(group,'ex.nearest_class_date')">
                    <input class="form-check-input"  v-model="form.absence_to" type="radio" name="absence_to"  id="inlineRadio1" value="0" checked>
                    <label class="form-check-label" for="inlineRadio1">{{ group.ex.nearest_class_date }}</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-model="form.absence_to" name="absence_to" id="inlineRadio2"
                           value="end_of_month">


                    <label class="form-check-label" for="inlineRadio2">{{ $t('absense.end_of_month') }}</label>
                </div>


                        <has-error :form="form" field="absence_to"/>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('absense.reason') }}</label>
                    <div class="col-md-7">

                           <textarea v-model="form.reason" :class="{ 'is-invalid': form.errors.has('reason') }"
                                     class="form-control" rows="4" cols="50"></textarea>

                        <has-error :form="form" field="reason"/>
                    </div>
                </div>


                <alert-error :form="form" :message="$t('form.error')"></alert-error>
                <alert-success :form="form" :message="$t('absense.success')"></alert-success>


                <FormFooter>

                    <ButtonSave :loading="form.busy" :message="$t('absense.save')"/>

                </FormFooter>

            </form>
        </card>


    </div>


</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";
import dateHelper from "../../helpers/dates";

export default {

    components: {
        ButtonSave,FormFooter
    },

    scrollToTop: false,
    middleware: 'auth',
    layout: 'account',

    data: () => ({
        player: {},
        form: new Form({
            id: null,
            reason: '',
            absence_to: 0
        })
    }),

    computed: {
        ...mapGetters({
            players: 'players/players',
            exists: 'players/exists',
            existGroups: 'groups/exists'
        }),
        group: function () {

         let   group = this.$store.getters['groups/getSectionByGroupId'](this.$route.params.player)

            if(!group)
                this.form.absence_to = 'end_of_month';
            else
                this.form.absence_to = 0;


            return group;

        },

    },

    async created() {

        if(!this.existGroups)
            await this.$store.dispatch('groups/fetchGroups');


        if (!this.exists)
            await this.$store.dispatch('players/fetchPlayers');

     this.form.id = this.$route.params.group;


    },

    methods: {
        async update() {
            const {data} = await this.form.put(route('api.user.groups.update','absence'))
        },
        formatDate(aa) {
            return dateHelper.formatFull(aa);
        },
    }
}
</script>
