<template>
    <div class="w-100">

        <Alert v-if="$route.params.saved">
            {{ $t('info_updated') }}
        </Alert>


            <div v-if="!loading">

                <div v-if="_.size(groups)" class="groups_table">


                            <ol class="collection collection-container">

                                <template v-for="group in groups">

                                <li class="player_info">

                                    <div class="player"> {{ group.players.name }} {{group.players.surname}} </div>

                                    <div class="nearest_class_date">


                                        <span class="info">

                                            {{ $t('attributes.nearest_class_date') }}:

                                        </span>



                                        <span class="address"
                                                     v-if="!_.get(group,'has_yet_start',1) && (group.nearest_class_date || group.second_classes)">

                                            <span>{{formatDate(group.nearest_class_date)}}</span>
<!--                                            <div>{{formatDate(group.second_classes)}}</div>-->


                                        </span>
                                        <span v-else>


                                            {{$t('attributes.no_date')}}


                                        </span>

                                           </div>


                                </li>

                                <li class="items item-container">

                                    <div class="attribute  agreement_concluded">
                                        <span class="header"> {{ $t('groups.agreement_concluded') }} </span>
                                        <span> {{ _.get(group,'contract.agreement_name') }}

                                            <div v-if="_.get(group,'contract.termination_notice_at')" class="text-danger">
                                              złożono wypowiedzenie<br>{{formatDate(_.get(group,'contract.termination_notice_at'))}}
                                            </div>

                                        </span>
                                    </div>


                                    <div class="attribute  group">
                                        <span class="header"> {{ $t('attributes.group') }} </span>
                                        <div> {{ group.group_name }}
                                        <span class="sport">{{group.group_sport}}</span>
                                        </div>
                                    </div>


                                    <div class="attribute  localization">
                                        <span class="header"> {{ $t('attributes.localization') }}</span>
                                        <div> {{ group.section.name }}
                                          <span class="address">{{ _.get(group.section,'address.street','') }} , {{ _.get(group.section,'address.city','')  }}  </span>

                                           </div>
                                    </div>



                                    <div class="attribute actions reporting_of_absence">
    <ButtonCreate type="btn-outline-primary"
                  v-on:click.native="reporting_of_absence(group.contract.contract_to_id,group.id)"
                  :message="$t('groups.actions.reporting_of_absence')"/>

                                    </div>


                                    <div class="attribute  actions resign" v-if="!_.get(group,'contract.termination_notice_at')" >

    <ButtonCreate type="btn-outline-primary" v-on:click.native="resign(group.id,group.id)"
                  :message=" $t('groups.actions.resign') "/>


                                    </div>

                                    <div class="attribute actions change_agreement">

    <ButtonCreate type="btn-primary" v-on:click.native="change_agreement(group.contract.contract_to_id)"
                  :message="$t('groups.actions.change_agreement')"/>

                                    </div>



                                </li>

                                </template>


                            </ol>


                </div>
                <div v-else>


                    <NotExist>

                        <template v-slot:info>
                            {{ $t('groups.no_exists') }}
                        </template>


                        <template v-slot:icon>
                            <i class="fad fa-calendar-edit fa-7x"></i>
                        </template>

                        <template v-slot:button>

                            <ButtonCreate v-on:click.native="go" :message="$t('groups.new')"/>

                        </template>


                    </NotExist>


                </div>
            </div>
            <div v-else>
                Wczytuje...

            </div>


        </div>


    </div>
</template>

<script>


import NotExist from "../../components/NotExist";


import Alert from "../../components/Alert";
import ButtonCreate from "../../components/ButtonCreate";
import dateHelper from "../../helpers/dates";
import axios from "axios";

import Form from 'vform'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";
import StarRating from 'vue-star-rating'

Vue.component('star-rating', StarRating);
export default {
    middleware: 'auth',
    layout: 'account',


    components: {
        NotExist, Alert, ButtonCreate, StarRating, ButtonSave, FormFooter
    },

    data: function () {
        return {
            loading: true,
            groups: {},

        }
    },

    created() {
        this.fetchData()
    },
    watch: {
        '$route': 'fetchData'
    },
    methods: {
        groupResign(ids) {

            this.form.fill({id: ids});
            this.isResign = true;
        },
        go() {
            this.$router.push({name: 'registration.index'})
        },


        reporting_of_absence(player,group) {
           this.$router.push({name: 'groups.absence-reporting', params: {player: player,group:group}});
        },


        resign(player,group) {
            this.$router.push({name: 'groups.resignation', params: {player: player,group:group}});
        },


        change_agreement(ids) {
            this.$router.push({name: 'registration.form', params: {id: ids}});
        },

        formatDate(aa) {
            return dateHelper.formatFull(aa);
        },

        formatDateShort(aa) {
            return dateHelper.format(aa);
        },


        fetchData() {

            axios.get(route('api.user.groups.index'))
                .then((response) => {

                    this.groups = _.keyBy(response.data.data, 'id');
                }).finally(() => {
                this.loading = false;
            });

        }
    }
}
</script>

