<template>

    <div>
        <card :title="$t('your_info')">
            <form @submit.prevent="update" @keydown="form.onKeydown($event)">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('groups.reason') }}</label>
                    <div class="col-md-7">

                           <textarea v-model="form.reason" :class="{ 'is-invalid': form.errors.has('reason') }"
                                     class="form-control" rows="4" cols="50"></textarea>

                        <has-error :form="form" field="reason"/>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('groups.rating') }}</label>
                    <div class="col-md-7">
                        <star-rating v-model="form.rating"></star-rating>
                    </div>
                </div>


                <alert-error :form="form" :message="$t('form.error')"></alert-error>
                <alert-success :form="form" message="Rezygnacja została złożona"></alert-success>


                <FormFooter>

                    <ButtonSave :loading="form.busy" :message="$t('groups.resignation_action')"/>

                </FormFooter>

            </form>
        </card>






    </div>


</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";
import StarRating from 'vue-star-rating'

Vue.component('star-rating', StarRating);
export default {

    components: {
        StarRating,ButtonSave,FormFooter
    },

    scrollToTop: false,
    middleware: 'auth',
    layout: 'account',

    data: () => ({
        player: {},
        form: new Form({
            id: null,
            reason: '',
            rating: null
        })
    }),

    async created() {


        this.form.id = this.$route.params.group;

    },

    methods: {
        async update() {
            const {data} = await this.form.post(route('api.user.groups.store'))
        },
    }
}
</script>
