<template>
    <ion-page>

      <StandardHeader />

      <ion-content :fullscreen="true">

        <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="small">{{page.title}}</ion-title>
          </ion-toolbar>
        </ion-header>


        <div v-html="page.body" class="ion-padding"></div>


      </ion-content>
    </ion-page>

  </template>

<script>


import {
  PageService
} from "@/helpers/api.service";



import {
  IonBadge, IonButton, IonButtons,
  IonContent,
  IonHeader,
  IonMenuButton,
  IonPage,
  IonSegment,
  IonSegmentButton,
  IonTitle,
  IonToolbar
} from "@ionic/vue";

import StandardHeader from '@/components/StandardHeader.vue'

export default  {
  name: 'PageShow',
    scrollToTop: false,
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonSegment, IonSegmentButton,  IonMenuButton, IonBadge ,IonButtons,IonButton,
 StandardHeader
  },

    data: () => ({
        loading: false,
      page: {
        title: null,
        body: null
      }
    }),

    created () {
        this.fetchData()
    },
    methods: {
        fetchData() {
            this.error = this.post = null
            this.loading = true


            let key = 'page_cache'+this.$route.params.slug;

            if (sessionStorage.getItem(key)) {
                this.page = JSON.parse( sessionStorage.getItem(key) );
                this.loading = false;
            } else {
              PageService.show(this.$route.params.slug)
                    .then((response) => {

                        sessionStorage.setItem(key, JSON.stringify(response.data.data));
                      this.page = response.data.data;
                    }).finally(() => {
                    this.loading = false;
                });
           }

        }

    }


}
</script>
