
@tailwind components;
@tailwind utilities;

ion-card-title  {
    @apply text-gray-800 dark:text-gray-50 text-xl font-medium mb-1;
}


ion-card {
    @apply shadow-lg rounded-2xl bg-white dark:bg-gray-800 p-4;
}

ion-icon {
    @apply w-full
}

