.activities_filter {

    --ion-item-background: #F9FAFB;
    border: 20px
}

.alert-radio-label {
    white-space: normal!important;
}

.prod-img {
    height: 150px;
    overflow: hidden;
}

.product-image-slides {
 height: 300px;
}


.prod-title {
    color: var(--ion-color-primary);
}

.prod-img-full {
    height: 300px;
    overflow: hidden;
}
