<template>
  <ion-page v-if="primaryTabs.length" >
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button  v-for="tab in primaryTabs" v-bind:key="tab.id"
                         :tab="'tab'+tab.id"
                         :href="getTabHref(tab)"
                         v-show="tab.page_type"
                         :_getTabState="getTabState"
                       >
          <ion-icon :class="tab.icon"/>
          <ion-label> {{ tab.name }}</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script >
import {IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage} from '@ionic/vue';


import {pageMenuMixin} from '@/mixin/pageMenuMixin';

import {mapGetters} from 'vuex'

export default {
  name: 'Tabs',
  components: {IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage},
  mixins: [pageMenuMixin],
  computed: {
    ...mapGetters({
      primaryTabs: 'setting/primaryTabs',
    }),
  },
  setup() {
    return {}
  },
  methods: {
    getTabState() {


      // Mały hack bo jest bug w iconicu, https://github.com/ionic-team/ionic-framework/issues/22847

      let tabs = {};

      for( let tab of this.primaryTabs) {

        let link = this.getTabHref(tab);
        tabs['tab'+tab.id] = {originalHref: link, currentHref: link };
      }

      return {
        activeTab: undefined,
        tabs: tabs
      }

    },
  }

}
</script>