<template>
  <ion-page tab="tab6" class="tab_shop bg-white">
    <StandardHeader name="Sklep"/>
    <ion-content class="bg-white ion-padding" :fullscreen="true">

      <!-- Skeleton screen -->
      <div v-if="isLoading">
        <div class="ion-padding custom-skeleton">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>

        <ion-list>
          <ion-list-header>
            <ion-label>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>


      </div>

      <div class="" v-else>


        <div v-if="productsLoaded" class="w-full grid grid-cols-2 sm:grid-cols-4 gap-4">


          <div class="   " v-for="product in products">


            <div class="" @click="() => router.push({ name: 'shop.show', params: { slug: product.slug }})">


              <div class="card flex flex-col justify-center shadow-lg bg-white rounded-lg">

                <div class="prod-img">

                  <ResponsivePicture :file="product.baseImage" imageclass="rounded-t-lg"></ResponsivePicture>

                </div>

                <div class="p-2.5">


                  <div class="prod-title font-bold">
                    {{ product.name }}
                  </div>

                  <div class="prod-price py-2">

                    {{$t('product.price.'+product.price_type,[product.selling_price])}}

                    <div>


                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>

        <div v-else>

          <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-900 w-64 m-auto relative">
            <div class="w-full h-full text-center">
              <div class="flex h-full flex-col justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                     class="mt-4 w-20 h-20 m-auto text-gray-800 dark:text-white" viewBox="0 0 2048 1792">
                  <path
                      d="M1920 768q53 0 90.5 37.5t37.5 90.5-37.5 90.5-90.5 37.5h-15l-115 662q-8 46-44 76t-82 30h-1280q-46 0-82-30t-44-76l-115-662h-15q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5h1792zm-1435 800q26-2 43.5-22.5t15.5-46.5l-32-416q-2-26-22.5-43.5t-46.5-15.5-43.5 22.5-15.5 46.5l32 416q2 25 20.5 42t43.5 17h5zm411-64v-416q0-26-19-45t-45-19-45 19-19 45v416q0 26 19 45t45 19 45-19 19-45zm384 0v-416q0-26-19-45t-45-19-45 19-19 45v416q0 26 19 45t45 19 45-19 19-45zm352 5l32-416q2-26-15.5-46.5t-43.5-22.5-46.5 15.5-22.5 43.5l-32 416q-2 26 15.5 46.5t43.5 22.5h5q25 0 43.5-17t20.5-42zm-1156-1217l-93 412h-132l101-441q19-88 89-143.5t160-55.5h167q0-26 19-45t45-19h384q26 0 45 19t19 45h167q90 0 160 55.5t89 143.5l101 441h-132l-93-412q-11-44-45.5-72t-79.5-28h-167q0 26-19 45t-45 19h-384q-26 0-45-19t-19-45h-167q-45 0-79.5 28t-45.5 72z">
                  </path>
                </svg>
                <p class="text-gray-900 dark:text-white text-lg mt-4">
                  Obecnie nie oferujemy nic w sprzedarzy.
                </p>
              </div>
            </div>
          </div>

        </div>


      </div>


    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonAvatar,
  IonIcon,
  IonItem,
  IonLabel,
  IonList,
  IonListHeader,
  IonSkeletonText,
  IonThumbnail
} from '@ionic/vue';
import ExploreContainer from '@/components/ExploreContainer.vue';
import StandardHeader from "@/components/StandardHeader.vue";
import {mapGetters} from "vuex";

import ResponsivePicture from "@/components/ResponsivePicture.vue";
import { useRouter } from 'vue-router';

export default {
  name: 'Tab3',
  components: {
    ExploreContainer, IonHeader, IonToolbar, IonTitle, IonContent, IonPage, StandardHeader, IonAvatar,
    IonIcon,
    IonItem,
    IonLabel,
    IonList,
    IonListHeader,
    IonSkeletonText,
    IonThumbnail,
    ResponsivePicture
  },

  data: function () {
    return {
      data: 0
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'products/isLoading',
      products: 'products/products',
      productsLoaded: 'products/productsLoaded'
    }),
  },
  setup() {
    const router = useRouter();
    return { router };
  },
  async mounted() {


    await this.$store.dispatch('products/fetchProducts')

  },

  methods: {
    addToCart(productID) {

      alert('ss')
    },

    showDetails(productID) {
      alert('ssssss')

    },

  }

}
</script>