<template>

    <div>

            <card :title="$t('your_info')">
                <form @submit.prevent="update" @keydown="form.onKeydown($event)">

                    <alert-error :form="form" :message="$t('form.error')"></alert-error>


                    <!-- Name -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('exams.from_level') }}</label>
                        <div class="col-md-7">

                            <select v-model="form.from_level" v-on:change="onChange(e)" :class="{ 'is-invalid': form.errors.has('from_level') }"
                                    class="form-control" type="text" name="from_level">
                                <option v-for="level in levels" :value="parseInt(level.id)">{{level.name}}</option>
                            </select>
                            <has-error :form="form" field="from_level"/>

                        </div>
                    </div>

                    <!-- surname -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('exams.to_level') }}</label>
                        <div class="col-md-7">
                            <select v-model="form.to_level"  :class="{ 'is-invalid': form.errors.has('to_level') }"
                                    class="form-control" type="text" name="to_level">
                                <option v-for="level in levels" :value="parseInt(level.id)">{{level.name}}</option>
                            </select>
                            <has-error :form="form" field="to_level"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('exams.note') }}</label>
                        <div class="col-md-7">

                           <textarea  v-model="form.note" :class="{ 'is-invalid': form.errors.has('note') }"
                                      class="form-control" rows="2" cols="50"></textarea>

                            <has-error :form="form" field="note"/>
                        </div>
                    </div>



                    <FormFooter>

                        <ButtonSave :message="$t('exams.add') " :loading="form.busy"/>

                    </FormFooter>

                </form>
            </card>

    </div>


</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import NotExist from "../../components/NotExist";
import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";
import axios from "axios";

export default {

    components: {
        NotExist,ButtonSave,FormFooter
    },

    scrollToTop: false,
    middleware: 'auth',
    layout: 'account',

    data: () => ({
        levels: {},
        form: new Form({
            from_level: 1,
            to_level: 2,
            note: '',
            exam_id: 2,
            players_id: null,
        })
    }),


    created() {
        this.fetchData()
    },
    watch: {
        '$route': 'fetchData'
    },

    methods: {
        async update() {

            const {data} = await this.form.post(route('cart.groups.exams'))

            if(!data) {

                this.saved = true;
                return;

            }

            this.$store.dispatch('cart/updateCart', data)

            this.$router.push({name: 'exams.index'});

        },

        onChange(event) {
            this.form.to_level =  this.form.from_level + 1;
        },

        fetchData() {



            axios.get(route('api.user.exams.show',9))
                .then((response) => {
                    this.form.players_id = this.$route.params.id;
                    this.levels = _.keyBy(response.data, 'id');
                }).finally(() => {
                this.loading = false;
            });

        }
    }
}
</script>
