<template>

    <div>


        <card :title="$t('your_info')">
            <form @submit.prevent="update" @keydown="form.onKeydown($event)">

                <alert-error :form="form" :message="$t('form.error')"></alert-error>


                <!-- Name -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.name') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                               class="form-control" type="text" name="name">
                        <has-error :form="form" field="name"/>
                    </div>
                </div>

                <!-- surname -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.surname') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.surname" :class="{ 'is-invalid': form.errors.has('surname') }"
                               class="form-control" type="text" name="surname">
                        <has-error :form="form" field="surname"/>
                    </div>
                </div>


                <!-- Name -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right ">{{ $t('attributes.birthdate') }}</label>
                    <div class="col-md-7">

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="birthdate.day">{{ $t('attributes.day') }}</label>
                                <input type="number" v-model="form.birthdate.day"
                                       :class="{ 'is-invalid': form.errors.has('birthdate.day') }" class="form-control"
                                       minlength="1" maxlength="2" id="birthdate.day">
                                <has-error :form="form" field="birthdate.day"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="birthdate.month">{{ $t('attributes.month') }}</label>
                                <input type="number" v-model="form.birthdate.month"
                                       :class="{ 'is-invalid': form.errors.has('birthdate.month') }"
                                       class="form-control" minlength="1" maxlength="2" id="birthdate.month">
                                <has-error :form="form" field="birthdate.month"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="birthdate.year">{{ $t('attributes.year') }}</label>
                                <input type="number" v-model="form.birthdate.year"
                                       :class="{ 'is-invalid': form.errors.has('birthdate.year') }" class="form-control"
                                       minlength="4" maxlength="4" id="birthdate.year">
                                <has-error :form="form" field="birthdate.year"/>
                            </div>
                        </div>

                    </div>
                </div>


                <FormFooter>

                    <ButtonSave :loading="form.busy" />

                </FormFooter>

            </form>
        </card>


    </div>


    </div>


</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";

export default {

    components: {
        FormFooter,ButtonSave
    },

    scrollToTop: false,
    middleware: 'auth',
    layout: 'account',

    computed: {
        ...mapGetters({
            user: 'auth/user',
        })
    },

    data: () => ({
        form: new Form({
            name: '',
            surname: '',
            birthdate: {
                year: '',
                month: '',
                day: '',
            },
        })
    }),


    created () {
        this.form.phone = this.user.phone;
        this.form.email = this.user.email;
    },


    methods: {
        async update() {
            const {data} = await this.form.post(route('api.user.players.store'))

           await this.$store.dispatch('players/updatePlayer', {player: data.data})


            this.$router.push({ name: 'participants.index', params: { saved: true } })
        }
    }
}
</script>
