<template>
  <div>
<!--    <div class=" shadow w-full bg-white dark:bg-gray-800">-->
<!--      <img alt="profil"  v-if="logo" :src="logo" class="rounded-t-lg h-28 w-full mb-4"/>-->
<!--    </div>-->


      <div class="grid grid-cols-1  gap-3 px-3">

          <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center; background-size: cover;">
            <div class="h-24"></div>
            <h3 class="text-lg font-bold text-white leading-tight">Zajęcia sportowe</h3>
          </a>
          <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://images.unsplash.com/photo-1534329539061-64caeb388c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center; background-size: cover;">
            <div class="h-24"></div>
            <h3 class="text-lg font-bold text-white leading-tight">Wydarzenia</h3>
          </a>

          <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://images.unsplash.com/photo-1526661934280-676cef25bc9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center; background-size: cover;">
            <div class="h-24"></div>
            <h3 class="text-lg font-bold text-white leading-tight">Sklep</h3>
          </a>
          <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://images.unsplash.com/photo-1558365849-6ebd8b0454b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center; background-size: cover;">
            <div class="h-24"></div>
            <h3 class="text-lg font-bold text-white leading-tight">Konto uczesnika</h3>
          </a>


    </div>



  </div>
</template>

<script>

import { defineComponent } from 'vue';
import {mapGetters} from "vuex";

//

export default defineComponent({
  name: 'LoggedUserComponent',

  computed: {
    ...mapGetters({
      club: 'setting/club',
      logo: 'setting/logo',
    }),
  },
  components: {

  },
  props: {
    title: { type: String, default: 'Super Modal' },
  },
  data() {
    return {
      initializeGoogleMap: {
        streetViewControl: true,
        scaleControl: true,
        center: { lat: 51.107441, lng: 16.955250 },
        zoom: 11,
      },
      markers: {"4":{"map_id":"1","marker_id":"4","title":"WROC\u0141AW - GRABISZYN","address":"51.1046899,17.0163766","desc":"Szko\u0142a Podstawowa nr 97| ul. Prosta 16","pic":"errer","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-grabiszyn\/","lat":"51.104190","lng":"17.015796","anim":"0","retina":"0","category":"","infoopen":"0","other_data":"fdfdf"},"5":{"map_id":"1","marker_id":"5","title":"K\u0104TY WROC\u0141AWSKIE","address":"51.0340977,16.7561244","desc":"Szko\u0142a Podstawowa nr 1|ul. 1 Maja 59","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-katy-wroclawskie\/","lat":"51.034160","lng":"16.756005","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"6":{"map_id":"1","marker_id":"6","title":"Wroc\u0142aw SADK\u00d3W","address":"51.0502111,16.8305903","desc":"Szko\u0142a Podstawowa|ul. Szkolna 9","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-sadkow\/","lat":"51.050235","lng":"16.830665","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"7":{"map_id":"1","marker_id":"7","title":"WROC\u0141AW - BISKUPIN \/ S\u0118POLNO","address":"51.1053681,17.0912263","desc":"Szko\u0142a Podstawowa nr 66 ul. E. Dembowskiego 39 51-670 Wroc\u0142aw","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-biskupin-sepolno\/","lat":"51.105987","lng":"17.091424","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"8":{"map_id":"1","marker_id":"8","title":"WROC\u0141AW - GAJ","address":"51.0791394,17.0400529","desc":"Szko\u0142a Podstawowa nr 90|ul. Orzechowa 62","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-gaj\/","lat":"51.079330","lng":"17.040377","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"9":{"map_id":"1","marker_id":"9","title":"WROC\u0141AW - GRUNWALD","address":"51.1181493,17.0596157","desc":"Szko\u0142a Podstawowa nr 1|ul. Nowowiejska 78","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-grunwald\/","lat":"51.118270","lng":"17.059790","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"10":{"map_id":"1","marker_id":"10","title":"WROC\u0141AW - HUBY","address":"51.0878585,17.0429918","desc":"Gimnazjum nr 21| ul. \u015bw. Jerzego 4","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-huby\/","lat":"51.087981","lng":"17.042844","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"11":{"map_id":"1","marker_id":"11","title":"WROC\u0141AW - KOZAN\u00d3W","address":"51.1407156,16.9674973","desc":"Zesp\u00f3\u0142 Szk\u00f3\u0142 nr 21| ul. Piotra Ignuta 28","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-kozanow\/","lat":"51.140716","lng":"16.967497","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"12":{"map_id":"1","marker_id":"12","title":"WROC\u0141AW - KU\u0179NIKI","address":"51.1273993,16.9452478","desc":"Gimnazjum nr 9| ul. Sarbinowska 10","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-kuzniki\/","lat":"51.127130","lng":"16.945612","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"13":{"map_id":"1","marker_id":"13","title":"WROC\u0141AW - LE\u015aNICA","address":"51.1503383,16.8598347","desc":"Szko\u0142a Podstawowa nr 51|ul.Kr\u0119picka 50","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-lesnica\/","lat":"51.150330","lng":"16.859798","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"14":{"map_id":"1","marker_id":"14","title":"WROC\u0141AW - NOWY DW\u00d3R","address":"51.1159018,16.950428","desc":"Zesp\u00f3\u0142 Szkolno-Przedszkolny nr 1| ul.Zemska 16c","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-nowy-dwor\/","lat":"51.115900","lng":"16.950422","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"15":{"map_id":"1","marker_id":"15","title":"WROC\u0141AW - OPOR\u00d3W","address":"51.1159018,16.950428","desc":"Szko\u0142a Podstawowa nr 15| ul. Solskiego 13","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-oporow\/","lat":"51.115900","lng":"16.950422","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"16":{"map_id":"1","marker_id":"16","title":"WROC\u0141AW - O\u0141BIN","address":"51.1276068,17.0529382","desc":"Szko\u0142a Podstawowa nr 78| ul. Jedno\u015bci Narodowej 195","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-olbin\/","lat":"51.127598","lng":"17.052862","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"17":{"map_id":"1","marker_id":"17","title":"Partynice\/O\u0142taszyn","address":"51.0628275,17.0103492","desc":"Szko\u0142a Podstawowa nr 64|ul.Wojszycka 1","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-partynice-oltaszyn\/","lat":"51.063162","lng":"17.008867","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"18":{"map_id":"1","marker_id":"18","title":"WROC\u0141AW - POPOWICE","address":"51.1246999,16.9970332","desc":"Gimnazjum nr 1| ul. Jelenia 7","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-popowice\/","lat":"51.124693","lng":"16.997024","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"19":{"map_id":"1","marker_id":"19","title":"WROC\u0141AW - PSIE POLE","address":"51.1469909,17.1072713","desc":"Szko\u0142a Podstawowa nr 98| ul.Sycowska 22a","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-psie-pole\/","lat":"51.147034","lng":"17.107372","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"20":{"map_id":"1","marker_id":"20","title":"Centrum Sportowe Samuraj","address":"51.1389633,17.0320829","desc":"ul. Ba\u0142tycka 19 lok.2.2","pic":"","icon":"","linkd":"\/lokalizacje\/centrum-samuraj\/","lat":"51.139187","lng":"17.032063","anim":"2","retina":"0","category":"","infoopen":"1","other_data":""},"21":{"map_id":"1","marker_id":"21","title":"WROC\u0141AW - SO\u0141TYSOWICE","address":"51.1475356,17.0724117","desc":"Szko\u0142a Podstawowa nr 40 ZSP nr 4| ul. So\u0142tysowicka 34","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-soltysowice\/","lat":"51.147562","lng":"17.072406","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"22":{"map_id":"1","marker_id":"22","title":"WROC\u0141AW - STAB\u0141OWICE","address":"51.1510443,16.8933223","desc":"Szko\u0142a Podstawowa nr 95|ul. Starogajowa 66","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-stablowice\/","lat":"51.151044","lng":"16.893322","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"23":{"map_id":"1","marker_id":"23","title":"WROC\u0141AW - STARE MIASTO","address":"51.1059789,17.0357709","desc":"Szko\u0142a Podstawowa nr 63|ul. Mennicza 21","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-stare-miasto\/","lat":"51.105982","lng":"17.035772","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"24":{"map_id":"1","marker_id":"24","title":"WROC\u0141AW - WOJSZYCE","address":"51.0642705,17.0380562","desc":"Szko\u0142a Podstawowa nr 23|ul. Pawia 30","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-wojszyce\/","lat":"51.064430","lng":"17.037497","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"25":{"map_id":"1","marker_id":"25","title":"\u017bERNIKI WROC\u0141AWSKIE","address":"51.0310726,17.0611762","desc":"Szko\u0142a Podstawowa|ul. Kolejowa 7a","pic":"","icon":"","linkd":"\/lokalizacje\/taekwondo-wroclaw-zerniki-wroclawskie\/","lat":"51.031302","lng":"17.061567","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"26":{"map_id":"1","marker_id":"26","title":"WROC\u0141AW - KRZYKI","address":"51.0722337,17.0398613","desc":"Zesp\u00f3\u0142 Szkolno \u2013 Przedszkolny nr 21|ul. K\u0142odzka 40","pic":"","icon":"","linkd":"http:\/\/www.klubsamuraj.pl\/lokalizacje\/wroclaw-krzyki\/","lat":"51.072234","lng":"17.039861","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"29":{"map_id":"1","marker_id":"29","title":"WROC\u0141AW - MA\u015aLICE","address":"51.1623294,16.906026","desc":"Szko\u0142a Podstawowa nr 22 ul.Karpnicka 2","pic":"","icon":"","linkd":"http:\/\/www.klubsamuraj.pl\/lokalizacje\/taekwondo-wroclaw-maslice\/","lat":"51.162213","lng":"16.905937","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""},"30":{"map_id":"1","marker_id":"30","title":"Wroc\u0142aw \u2013 Muchob\u00f3r Ma\u0142y","address":"51.1074409,16.9552497","desc":"Zesp\u00f3\u0142 Szk\u00f3\u0142 nr 3 ul. Szkocka 64 54-402 Wroc\u0142aw","pic":"","icon":"","linkd":"https:\/\/www.klubsamuraj.pl\/lokalizacje\/taekwondo-wroclaw-muchobor-maly\/","lat":"51.1074409","lng":"16.9552497","anim":"0","retina":"0","category":"","infoopen":"0","other_data":""}}
    }
  },

   mounted() {

    this.loadMap();
  },
  methods: {
    loadMap() {


    }
  }
});
</script>