<template>
  <div>

<!--    <div class="shadow-lg rounded-2xl w-full bg-white dark:bg-gray-800">-->
<!--      <div class="flex flex-col items-center justify-center p-4">-->
<!--        <a href="#" class="block relative">-->
<!--          <img alt="profil" src="/assets/images/default-avatar.png" class="mx-auto object-cover rounded-full h-16 w-16  border-2 border-white dark:border-gray-800"/>-->
<!--        </a>-->
<!--        <p class="text-gray-800 dark:text-white text-xl font-medium mt-2">-->
<!--         Adam Kowalski-->
<!--        </p>-->

<!--      </div>-->
<!--    </div>-->

    <ion-segment scrollable value="heart">
      <ion-segment-button value="home">
        2323
      </ion-segment-button>
      <ion-segment-button value="heart">
        2232
      </ion-segment-button>
      <ion-segment-button value="pin">
     1111
      </ion-segment-button>
      <ion-segment-button value="star">
       555
      </ion-segment-button>
      <ion-segment-button value="call">
        aaaa
      </ion-segment-button>
      <ion-segment-button value="globe">
     ddddd
      </ion-segment-button>
      <ion-segment-button value="basket">
      Wrocław
      </ion-segment-button>
    </ion-segment>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Najbliże zajęcia</ion-card-subtitle>
        <ion-card-title>czwartek, 10 stycznia 2020, g. 18:00</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <div class="flex justify-between">

          <ion-button color="primary">Zgłoś nieobecność</ion-button>
          <ion-button color="danger">Zgłoś rezygancje</ion-button>
        </div>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Płatności</ion-card-subtitle>
        <ion-button color="primary" side="end">Opłać wszystko</ion-button>
      </ion-card-header>

      <ion-card-content>

    <ion-list>
      <ion-item>
        <ion-checkbox ></ion-checkbox>
        <ion-label  class="ion-text-wrap">Pokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon YellowPokémon Yellow</ion-label>

        <ion-item-options side="end">
          <ion-item-option color="primary">Opłać</ion-item-option>
        </ion-item-options>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
// import ButtonCreate from "../../components/ButtonCreate";
// import NotExist from "../../components/NotExist";

import { defineComponent } from 'vue';

import { IonList,
  IonListHeader,
  IonSelect,
  IonSelectOption,
  IonItemOptions,
  IonItemOption,
  IonItem,
  IonLabel
} from '@ionic/vue';

export default defineComponent({
  components: {
    IonList,
    IonListHeader,
    IonSelect,
    IonSelectOption,
    IonItemOptions,
    IonItemOption,
    IonItem,
    IonLabel
  },

  created() {

    // if(window.localStorage) {
    //
    //   let filters = localStorage.getItem('filters');
    //
    //   if(filters) {
    //
    //
    //     let json = JSON.parse(filters);
    //
    //     if(!_.isEmpty(json))
    //       this.selectFilters=json;
    //
    //
    //   }
    //
    //
    // }



  },

  data: function () {
    return {
      success: true,
      error: false,

      thead: Object.freeze( this.$t('list-of-classes.table') ),

      selectFilters: {
        'section': 0,
        'age-categories': 0,
        'sports': 0,
        'levels': 0,
        'sections': 0,
        'instructors': 0,
        days: []

      },

    }
  },
  async mounted() {

   // this.fetchGroups();
  },
  // async beforeRouteEnter(to, from, next) {
  //   next(vm => {
  //     vm.fetchGroups();
  //     next();
  //   })
  //
  //
  // },
  watch: {
    selectFilters: {
      handler(new1,old1){
        if(window.localStorage) {
          localStorage.setItem('filters', JSON.stringify(new1));
        }
      },
      deep: true,
    },

  },
  computed: {
    ...mapGetters({
      club: 'setting/club',
      logo: 'setting/logo',
    }),
  },

  methods: {


    changeSection(section_id) {

  alert('sss');

    },

    async create(group_id) {

      console.log(lodash.sortBy,);

      this.$router.push({name: 'registration.register',params: { id: group_id }});

    },


    async fetchGroups() {
      console.log(_.sortBy,'aaa');
      if(this.isLoading  == null)
        await this.$store.dispatch('groups/fetchGroups');

    }
  }

})
</script>



