<template>
  <ion-menu side="start" menu-id="primaryMenu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-img v-if="logo" :src="logo"></ion-img>
        <ion-title v-else>{{club.name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
                <ion-item v-for="menu in primaryMenu" :href="getTabHref(menu)" v-show="menu.page_type">
                  <ion-icon :class="[menu.icon,'ion-padding-end']"/> {{ menu.name }}
                </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="end"  menu-id="cartMenu" class="my-custom-menu" content-id="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Koszyk</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
<!--        <ion-item>Menu Item</ion-item>-->
<!--        <ion-item>Menu Item</ion-item>-->
<!--        <ion-item>Menu Item</ion-item>-->
<!--        <ion-item>Menu Item</ion-item>-->
        <ion-item>Kontakt</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</template>
<style>
.my-custom-menu {
  --width: 90%;
}
</style>

<script>
import {
  IonContent,
  IonHeader,
  IonItem,
  IonList,
  IonMenu,
  IonRouterOutlet,
  IonTitle,
  IonIcon,
  IonImg,
  IonToolbar,
  menuController
} from '@ionic/vue';
import { defineComponent } from 'vue';

import {pageMenuMixin} from '@/mixin/pageMenuMixin';
import {mapGetters} from 'vuex'

export default defineComponent({
  name: 'MainMenu',
  components: {
    IonContent,
    IonHeader,
    IonItem,
    IonList,
    IonMenu,
    IonRouterOutlet,
    IonTitle,
    IonToolbar,
    IonIcon,
    IonImg,
  },
  mixins: [pageMenuMixin],
  computed: {
    ...mapGetters({
      primaryMenu: 'setting/primaryMenu',
      club: 'setting/club',
      logo: 'setting/logo',
      setting: 'setting/setting',
      tabs: 'setting/primaryTabs',
    }),
  },
  methods: {
    openPrimaryMenu() {
      menuController.enable(true, 'primaryMenu');
      menuController.open('primaryMenu');
    },
    openEnd() {
      menuController.open('end');
    },
    openCustom() {
      menuController.enable(true, 'custom');
      menuController.open('custom');
    }
  }
});
</script>