<template>
        <div v-if="!$_.isEmpty(file)">

            <picture >

                <template v-for="size in sizes">
                <source v-if="file['w'+size]" :srcset="`/storage/${file.storage_path}${file.slug}-w${size}.webp  ${size}w`"
                        :class="[imageclass,'w-100 h-100']" type="image/webp">
                </template>

                <img :src="file.path" :alt="alt"   :class="[imageclass,'w-100 h-100']"  />
            </picture>

        </div>

</template>

<script>

export default {
    name: 'ResponsivePicture',
    props: {
        file: {
       //     type: Object,
        },
        alt: {
            type: String,
        },
      imageclass: {
        type: String,
      },


    },

    data() {
        return {
            sizes: [300,576,768,922,1200], //100,
        }
    },
};
</script>
