<template>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button v-if="buttons.indexOf('menu')!=-1" menu="primaryMenu"></ion-menu-button>
        <ion-back-button v-if="buttons.indexOf('back')!=-1"   :text="$t('actions.back')" :defaultHref="back"></ion-back-button>
      </ion-buttons>
      <ion-title v-if="name">{{ name }}</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="cartMenu">
          <ion-icon :icon="cart"/>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</template>

<script lang="ts">

import {cart} from "ionicons/icons";
import {
  IonBadge, IonButton, IonButtons,
  IonContent,
  IonHeader,
  IonMenuButton,
  IonPage,
  IonTitle,
  IonToolbar,
  IonIcon,
IonBackButton
} from "@ionic/vue";


export default {
  name: 'StandardHeader',
  components: {
    IonHeader,
    IonIcon,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonMenuButton,
    IonBadge,
    IonButtons,
    IonButton,
    IonBackButton
  },
  props: {
    name: {
      type: String,
      default: null

    },
    back: {
      type: String,
      default: null
    },
    buttons: {
      type: Array,
      default: () => ['menu']

    }
  },
  setup() {
    return {
      cart
    }
  },
}
</script>
