<template>
  <ion-page tab="tab6" class="tab_shop bg-blue-700">
    <StandardHeader :buttons="['back']" :name="$_.get(product,'name')" back="/shop/"/>



        <div v-if="product">





          <ion-content class=" ion-padding" :fullscreen="true">

            <div class="card flex flex-col justify-center shadow-lg bg-white rounded-lg">

              <div class="prod-im-full">

                <ion-slides pager="true" class="product-image-slides" :options="slideOpts">
                  <ion-slide v-if="product.baseImage">
                    <ResponsivePicture :file="product.baseImage"></ResponsivePicture>
                  </ion-slide>
                  <ion-slide v-for="image in product.additionalImages">
                    <ResponsivePicture :file="image"> </ResponsivePicture>
                  </ion-slide>
                </ion-slides>

              </div>

              <div class="p-2.5">


                <div class="prod-title font-bold">
                  {{ product.name }}
                </div>

                <div class="prod-price py-2">

                  {{$t('product.price.'+product.price_type,[product.selling_price])}}

                  <div>



                    <div class="prod-main-action pt-3">

                    <ion-button expand="full" color="primary">{{$t('cart.add_to')}}</ion-button>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </ion-content>
        </div>

  </ion-page>
</template>

<script lang="ts">
import {
  IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonAvatar,
  IonIcon,
  IonItem,
  IonLabel,
  IonList,
  IonListHeader,
  IonSkeletonText,
  IonThumbnail
} from '@ionic/vue';
import ExploreContainer from '@/components/ExploreContainer.vue';
import StandardHeader from "@/components/StandardHeader.vue";
import {mapGetters} from "vuex";
import { IonSlides, IonSlide } from '@ionic/vue';
import ResponsivePicture from "@/components/ResponsivePicture.vue";
export default {
  name: 'Tab3',
  components: {
    ExploreContainer, IonHeader, IonToolbar, IonTitle, IonContent, IonPage, StandardHeader, IonAvatar,
    IonIcon,
    IonItem,
    IonLabel,
    IonList,
    IonListHeader,
    IonSkeletonText,
    IonThumbnail,
    IonSlides, IonSlide,
    ResponsivePicture
  },
setup() {
  // Optional parameters to pass to the swiper instance. See http://idangero.us/swiper/api/ for valid options.
  const slideOpts = {
    initialSlide: 1,
    speed: 400
  };
  return { slideOpts }
},
  data: function () {
    return {
      data: 0
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'products/isLoading',
    }),
    product: function () {

      return this.$store.getters['products/getProductBySlug'](this.$route.params.slug);

    },
  },
  async mounted() {


    await this.$store.dispatch('products/fetchProducts')

  },

}
</script>