<template>

    <div>

        <div v-if="!_.isEmpty(player)">

            <card :title="$t('your_info')">
                <form @submit.prevent="update" @keydown="form.onKeydown($event)">

                    <alert-error :form="form" :message="$t('form.error')"></alert-error>


                    <!-- Name -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.name') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                                   class="form-control" type="text" name="name" readonly>
                            <has-error :form="form" field="name"/>
                        </div>
                    </div>

                    <!-- surname -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.surname') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.surname" :class="{ 'is-invalid': form.errors.has('surname') }"
                                   class="form-control" type="text" name="surname" readonly>
                            <has-error :form="form" field="surname"/>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right ">{{ $t('attributes.birthdate') }}</label>
                        <div class="col-md-7">

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="birthdate.day">{{ $t('attributes.day') }}</label>
                                    <input type="number" v-model="form.birthdate.day"
                                           :class="{ 'is-invalid': form.errors.has('birthdate.day') }"
                                           class="form-control"
                                           minlength="1" maxlength="2" id="birthdate.day">
                                    <has-error :form="form" field="birthdate.day"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="birthdate.month">{{ $t('attributes.month') }}</label>
                                    <input type="number" v-model="form.birthdate.month"
                                           :class="{ 'is-invalid': form.errors.has('birthdate.month') }"
                                           class="form-control" minlength="1" maxlength="2" id="birthdate.month">
                                    <has-error :form="form" field="birthdate.month"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="birthdate.year">{{ $t('attributes.year') }}</label>
                                    <input type="number" v-model="form.birthdate.year"
                                           :class="{ 'is-invalid': form.errors.has('birthdate.year') }"
                                           class="form-control"
                                           minlength="4" maxlength="4" id="birthdate.year">
                                    <has-error :form="form" field="birthdate.year"/>
                                </div>
                            </div>

                        </div>
                    </div>


                    <FormFooter>

                        <ButtonSave :loading="form.busy"/>

                    </FormFooter>

                </form>
            </card>


        </div>
        <div v-else>

         Taki uczestnik nie isnieje.


        </div>


    </div>


</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import NotExist from "../../components/NotExist";
import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";

export default {

    components: {
        NotExist,ButtonSave,FormFooter
    },

    scrollToTop: false,
    middleware: 'auth',
    layout: 'account',

    data: () => ({
        player: {},
        form: new Form({
            id: null,
            name: '',
            surname: '',
            birthdate: {
                year: '',
                month: '',
                day: '',
            },
        })
    }),
    watch: {
        player: function (val) {
            this.form.keys().forEach(key => {

               debugger;
                if (key == 'birthdate') {

                    if (val[key]) {

                        let a = val[key].split('-');

                        this.form[key].year = a[0];
                        this.form[key].month = a[1];
                        this.form[key].day = a[2];

                    }


                } else

                    this.form[key] = val[key]
            });
        }
    },

    computed: {
        ...mapGetters({
            players: 'players/players',
            exists: 'players/exists'
        })
    },

    async created() {


        if (!this.exists)
            await this.$store.dispatch('players/fetchPlayers');


        this.player = _.get(this.players, this.$route.params.id);

    },

    methods: {
        async update() {
            const {data} = await this.form.put(route('api.user.players.update', this.player.id))

            let update_dt = this.form;
            update_dt.birthdate = this.form.birthdate.year+'-'+this.form.birthdate.month+'-'+this.form.birthdate.day;

            this.$store.dispatch('players/updatePlayer', {player: update_dt})

            this.$router.push({name: 'participants.index', params:{saved: true}});
        }
    }
}
</script>
