<template>
    <div class="w-100">


        <div v-if="exists">

            <Alert v-if="$route.params.saved">
                {{ $t('info_updated') }}
            </Alert>


            <div class="row">

                <div class="col-12 order-2 order-md-1">

                    <table>

                        <thead>
                        <tr>
                            <th scope="col">{{ $t('attributes.name') }}</th>
                            <th scope="col">{{ $t('attributes.surname') }}</th>
                            <th scope="col">{{ $t('attributes.birthdate') }}</th>
                            <th scope="col" width="20%"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="player in players" :key="player.id"
                           >


                            <td :data-label="$t('attributes.name')">{{ player.name }}</td>
                            <td :data-label="$t('attributes.surname')">{{ player.surname }}</td>
                            <td :data-label="$t('attributes.birthdate')">
                                {{ player.birthdate ? player.birthdate : $t('attributes.no_set') }}
                            </td>

                            <td data-label="">
                                <button type="button" class="btn btn-secondary w-100"  v-on:click="$router.push({ name: 'participants.edit', params: { id: player.id } })">{{ $t('form.edit') }}</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>


                <div class="col-12 order-1 order-md-2">

                    <Toolbar>

                        <ButtonCreate v-on:click.native="create" :message="$t('participants.new')"/>

                    </Toolbar>
                </div>

            </div>

        </div>
        <div v-else>


            <NotExist>

                <template v-slot:info>
                    {{ $t('participants.no_exists') }}
                </template>


                <template v-slot:icon>
                    <i class="fad fa-users-medical fa-7x"></i>
                </template>

                <template v-slot:button>

                    <ButtonCreate v-on:click.native="create" :message="$t('cart.add')"/>

                </template>


            </NotExist>


        </div>


    </div>
</template>

<script>

import {mapGetters} from 'vuex'


import Toolbar from "../../components/Toolbar";

import Alert from "../../components/Alert";
import ButtonCreate from "../../components/ButtonCreate";
import NotExist from "../../components/NotExist";

export default {
    middleware: 'auth',
    layout: 'account',


    components: {
        NotExist, Toolbar, Alert, ButtonCreate
    },

    data: function () {
        return {}
    },

    computed: mapGetters({
        players: 'players/players',
        exists: 'players/exists',


    }),

    async beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.fetchPlayers();
            next();
        })


    },
    methods: {
        async create() {

            this.$router.push({name: 'participants.new'});

        },


        async fetchPlayers() {

            if (!this.exists)
                await this.$store.dispatch('players/fetchPlayers');

        }
    }
}
</script>


