<template>
<div>
    <transition name="fade" mode="out-in">
        <router-view />
    </transition>
</div>
</template>

<script>

export default {
    middleware: 'check-auth',
     layout: 'registration',

}
</script>

<style>

</style>
