<template>
    <card >

        <div v-if="!loading" class="pt-3">

            <div v-if="!_.isEmpty(_.get(desc,'description.html_content'))">

                <h3 v-show="desc.description.title" class="mb-2">{{desc.description.title}}</h3>

                <p v-html="desc.description.html_content" class="pt-2"></p>


            </div>
            <div v-else>
                {{ $t('description_not_found') }}
            </div>


        </div>
        <div class="pt-3" v-else>
            {{ $t('loading') }}
        </div>


    </card>
</template>

<script>

import axios from "axios";


export default {
    scrollToTop: false,

    middleware: 'check-auth',


    data: () => ({
        loading: false,
        desc: ''
    }),

    created () {

        this.fetchData()
    },
    watch: {
        // call again the method if the route changes
        '$route': 'fetchData'
    },
    methods: {
        fetchData() {
            this.error = this.post = null
            this.loading = true

            let key = 'group_desc_'+this.$route.params.id;

            if (sessionStorage.getItem(key)) {
                this.desc =JSON.parse( sessionStorage.getItem(key) );
                this.loading = false;
            } else {
                axios.get(route('api.user.groups.show', this.$route.params.id))
                    .then((response) => {
                        sessionStorage.setItem(key, JSON.stringify(response.data));
                        this.desc = response.data;
                    }).finally(() => {
                    this.loading = false;
                });
            }

        }

    }


}
</script>
