<template>
    <div>
        <router-view name="regi11" />
    </div>
</template>

<script>

import {mapGetters} from 'vuex'

export default {


    computed: {
        ...mapGetters({
            isLogin: 'auth/check',

            players: 'players/players',

        })

    },


    created () {
        this.needRedirect()
    },
    watch: {
        '$route': 'needRedirect'
    },
    methods: {
        needRedirect () {

            if(this.$route.params.addNew)
                return;



            // powrót z systemu płataności

            if(this.$route.query.transaction == 'return') {

                this.$router.replace({name: 'registration.return-from-transaction', params: {id: this.$route.params.id, addNew: 1}});
return;
            }



            if (!this.isLogin) {
                this.$router.replace({name: 'registration.register_user', params: {id: this.$route.params.id}});
                return;
            }

            if (!_.size(this.players)) {
                this.$router.replace({name: 'registration.add_player', params: {id: this.$route.params.id}});
                return;
            }

            this.$router.replace({name: 'registration.form', params: {id: this.$route.params.id}});

        } }
}
</script>
