<template>

    <div style="" id="uRecord" v-if="group">

        <div class="row flex-md-row">
            <div class="col-12 text-right"><a class="btnRecordBack mb-2" href="#/registration/index" v-on:click.stop="$router.push({ name: 'registration.index' })"><br><i class="fal fa-reply mr-2"></i> powrót do listy</a></div>
        </div>

        <div class="row flex-md-row card card-lg mt-2">


            <div class="col-12 col-md-5 card-body order-sm-last order-2 order-md-1 group_description" >

                <div>

                    <div class="mb-3 text-center">
                        <h3 class="h2 mb-2 mt-0">{{group.name}}</h3>

                        <p >Termin najbliższych zajęć:</p>
                        <div class="next_class alert text-center" style="display: block;">{{group.parsed_nearest_class_date}}</div>
                    </div>

                    <dl>
                        <dt>Lokalizacja </dt><dd>


                            <div class="section_name"> {{section.name}} </div>
                            <div class="address"> {{ _.get(section,'address.street','')}}, {{_.get(section,'address.city','')}}</div>

                    </dd>
                        <dt>Wiek uczestnika</dt><dd v-html="group.parsed_age"></dd>
                        <dt>Dni i godziny zajęć</dt><dd  v-html="group.parsed_actvity_date"></dd>
                        <dt>Zajęcia</dt><dd>{{ group.parsed_sport }}</dd>
                        <dt>Poziom</dt><dd>{{ group.parsed_level }}</dd>

                    </dl>


                </div>
            </div>


            <div class="col-12 col-md-7 card-body order-1 order-md-2">


<!--                <div id="navup">-->
<!--                    <a class="groupLeft text-muted" href="#"> <i class="icon-triangle-left"></i> </a>-->
<!--                    <a class="groupRight text-muted" href="#"> <i class="icon-triangle-right"></i> </a>-->
<!--                </div>-->



                <div class="header">

                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand mb-2" role="tablist">


                        <router-link
                            :to="{ name: 'registration.register', params: { id: this.group.id }}"
                            v-slot="{ href, route, navigate, isActive, isExactActive }"
                        >
                            <li

                                class="nav-item mr-3"  >

                                <a :href="href" @click="navigate"   :class="[isActive ||  isExactActive ? 'active' : null]" class="nav-link">

                                    <i class="flaticon-edit-1"></i> Zapisy na zajęcia

                                </a>

                            </li>
                        </router-link>



                        <router-link
                            :to="{ name: 'registration.description', params: { id: group.id }}"
                            v-slot="{ href, route, navigate, isActive, isExactActive }"
                        >
                            <li
                                class="nav-item"  >

                                <a :href="href" @click="navigate"   :class="[isActive ||  isExactActive ? 'active' : null]"  class="nav-link">

<i class="flaticon-comment"></i> Opis zajęć

                                </a>

                            </li>
                        </router-link>


                    </ul>


                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">

                        <transition name="fade" mode="out-in">
                            <router-view />
                        </transition>




                    </div>
                </div>
            </div>


        </div>

    </div>


</template>

<script>

import {mapGetters} from 'vuex'

export default {

    middleware: 'check-auth',


    async beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.fetchGroups();
            next();
        })


    },
  computed: {
      ...mapGetters({
          isLogin: 'auth/check',

          players: 'players/players',

        //  isLoading: 'auth/isLoading'
      }),
    group: function () {

        return this.$store.getters['groups/getSectionByGroupId'](this.$route.params.id);

    },


        section: function () {


                  if(!_.isEmpty(this.group))
                        return this.$store.getters['groups/getSectionById'](this.group.sections_id);


            return {};


}
  } ,
    methods: {
        async update() {
            const {data} = await this.form.post( route('api.user.account.store') )

            this.$store.dispatch('auth/updateUser', {user: form.getAll() })
        },
        back() {


        },
        async fetchGroups() {

            if(this.isLoading  == null)
                await this.$store.dispatch('groups/fetchGroups');

        }
    }

}
</script>


