<template>
  <div>

        <div v-if="isLoading===false" class="registration">


            <div class="filters">


                <div class="selects">
                    <div>
                        <span class="mr-2 text-muted text-small text-nowrap">{{ $t('list-of-classes.filters.sections.name') }}</span>
                        <select :class="{select_changed: selectFilters.section }" class="custom-select" v-model="selectFilters.section">

                            <option :value="0">{{ $t('list-of-classes.filters.sections.all') }}</option>

                            <option v-for="section in _.sortBy(data.sections, ['position'])" :value="section.id" > {{ section.name }}</option>
                        </select>
                    </div>

                    <div v-for=" (filter, index) in data.filters">
                        <span class="mr-2 text-muted text-small text-nowrap">{{ $t('list-of-classes.filters.'+index+'.name') }}</span>
                        <select class="custom-select" :class="{select_changed: selectFilters[index] }" v-model="selectFilters[index]">

                            <option :value="0">{{ $t('list-of-classes.filters.'+index+'.all') }}</option>

                            <option v-for="option in _.sortBy(filter, ['position'])" :value="option.id" > {{ $t('list-of-classes.filters.'+index+'.format',option) }}</option>
                        </select>
                    </div>

                </div>


                <div class="days">
                    <div class="day_name">{{$t('calendar.day_activity')}} </div>
                    <div class="day" v-for="day in [1,2,3,4,5,6]">
                        <label class="form-check-label">
                            <input type="checkbox" :class="{select_changed: selectFilters.days.includes(day) }"  v-model="selectFilters.days" :value="day" name="days[]">
                            {{$t('calendar.week.'+day)}} </label>
                    </div>

                </div>

            </div>


            <!----- table ---->

<div v-if="_.size(availableActivities)">

            <ol class="collection collection-container">


<!--                <li class="item item-container">-->

<!--                    <div class="attribute" :data-name="thead.group_name">{{ thead.group_name }}</div>-->
<!--                    <div class="attribute" :data-name="thead.age">{{ thead.age }}</div>-->

<!--                        <div class="attribute" :data-name="thead.sport">{{ thead.sport }}</div>-->
<!--                        <div class="attribute" :data-name="thead.level">{{ thead.level }}</div>-->

<!--                        <div class="attribute" :data-name="thead.nearest_class_date">{{ thead.nearest_class_date }}</div>-->


<!--                        <div class="attribute" data-name=""></div>-->

<!--                </li>-->


                <template v-for="section in availableActivities">

                    <li class="section">
                       <span class="section_name"> {{section.name}} </span>
                       <span class="address"> {{ _.get(section,'address.street','')}}, {{_.get(section,'address.city','')}}</span>
                    </li>


                    <li class="item item-container"
                        v-for="group in section.groups"
                        :key="'actvity_'+group.id"
                    >


                        <div class="attribute group_name first_title">
                            <span class="header">{{thead.group_name}}</span>
                            <span>{{ group.name }}</span>
                        </div>

                        <div class="attribute parsed_age first_title">
                            <span  class="header">{{thead.age}}</span>
                            <div v-html="group.parsed_age"></div>
                        </div>

                        <div class="attribute parsed_sport first_title">
                            <span  class="header">{{thead.sport}}</span>
                            <span>{{ group.parsed_sport }}</span>
                        </div>

                        <div class="attribute parsed_level first_title">
                            <span class="header">{{thead.level}}</span>
                            <span>{{ group.parsed_level }}</span>
                        </div>


                        <div class="attribute nearest_class_date first_title">
                            <span class="header">{{thead.nearest_class_date}}</span>
                            <span v-html="group.parsed_nearest_class_date"></span>
                        </div>

                        <div class="attribute parsed_actvity_date">
                            <span class="header">{{thead.date}}</span>
                            <div v-html="group.parsed_actvity_date"></div>
                        </div>

                        <div class="attribute parsed_pricing">
                            <span class="header">{{thead.pricing}}</span>
                            <div v-html="group.parsed_pricing"></div>
                        </div>

                        <div class="attribute parsed_instructor">
                            <span class="header">{{thead.instructors}}</span>
                            <div v-html="group.parsed_instructors"></div>
                        </div>


                        <div class="attribute action">

                            <div v-if="group.type == 'STANDARD' && (group.ex.rs == 'CAN' || group.ex.rs == 'LAST')">

                                <ButtonCreate class="text-nowrap" v-on:click.native="create(group.id)" :message="$t('list-of-classes.action_button.register')"/>

                                <div class="danger mt-1" v-show="group.ex.rs == 'LAST'"> {{$t('groups.group_status.last')}} </div>

                            </div>

                            <div v-else-if="( group.type == 'STANDARD' && group.ex.rs == 'FULL') || group.type == 'FULL' ">

                                <span class="danger"> {{$t('groups.group_status.full')}} </span>

                            </div>


                            <div v-else-if=" ( group.type == 'STANDARD_WITH_RESERVE' && group.ex.rs == 'FULL') || group.type == 'FULL_WITH_RESERVE'">
                                <span class="info"> {{$t('groups.group_status.full')}} </span>

                                <ButtonCreate class="text-nowrap" v-on:click.native="create(group.id)" :message="$t('list-of-classes.action_button.register_to_reserve')"/>

                            </div>


                            <div v-else-if="group.type == 'RESERVE'">

                                <ButtonCreate class="text-nowrap" v-on:click.native="create(group.id)" :message="$t('list-of-classes.action_button.register_to_reserve')"/>

                            </div>



                            <div v-else-if="group.type == 'CLOSED'">

                                <span class="danger"> {{$t('groups.group_status.closed')}} </span>

                            </div>




                        </div>




                    </li>


                </template>






            </ol>


</div>

            <div v-else>

                <NotExist>

                    <template v-slot:info>
                        {{ $t('groups.no_groups') }}
                    </template>


                    <template v-slot:icon>
                        <i class="fal fa-align-slash fa-7x  m-5 text-muted"></i>
                    </template>


                </NotExist>

            </div>

        </div>
      <div v-else>

       Wczytywanie...

      </div>




  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import ButtonCreate from "../../components/ButtonCreate";
import NotExist from "../../components/NotExist";

export default {
    middleware: 'check-auth',

    components: {
        ButtonCreate, NotExist,
    },

    created() {

        if(window.localStorage) {

            let filters = localStorage.getItem('filters');

            if(filters) {


               let json = JSON.parse(filters);

               if(!_.isEmpty(json))
                   this.selectFilters=json;


            }


        }



    },

    data: function () {
        return {
            success: true,
            error: false,

            thead: Object.freeze( this.$t('list-of-classes.table') ),

            selectFilters: {
                'section': 0,
                'age-categories': 0,
                'sports': 0,
                'levels': 0,
                'sections': 0,
                'instructors': 0,
                days: []

            },

        }
    },

    async beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.fetchGroups();
            next();
        })


    },
    watch: {
        selectFilters: {
            handler(new1,old1){
                if(window.localStorage) {
                    localStorage.setItem('filters', JSON.stringify(new1));
                }
            },
            deep: true,
            },

        },
    computed: {
        ...mapGetters({
            data: 'groups/data',
            isLoading: 'groups/isLoading'
        }),

        availableActivities: function () {


            // cloning getter

            let sections =_.cloneDeep( { ...this.data.sections});
            //



            if(this.selectFilters.section) {
                sections =  _.filter(sections, (o) => { return o.id == this.selectFilters.section;; })
            }

            if(this.selectFilters['age-categories']) {

                let age_category = this.data.filters['age-categories'][this.selectFilters['age-categories']];

                if(age_category) {

                    _.forEach(sections, (section, s) => {


                        sections[s].groups = section.groups.filter( (el) => {

                            let max_category = (age_category.age_to ? age_category.age_to : 120);
                            let min_category = (age_category.age_from ? age_category.age_from : 0);

                            let max_group = (el.age_to ? el.age_to : 120);
                            let min_group = (el.age_from ? el.age_from : 0);

                            if (max_group >= min_category) {

                                if (max_category <= min_group)
                                    return 0;


                                return true;


                            } else
                                return 0;


                        });


                    });

                }

            }


            if(this.selectFilters.sports) {

                _.forEach(sections, (section, s) => {


                    sections[s].groups = section.groups.filter( (el) => {

                        return parseInt(el.sport_id) == this.selectFilters.sports;

                    });

                });

            }

            if(this.selectFilters.levels) {

                _.forEach(sections, (section, s) => {


                    sections[s].groups = section.groups.filter( (el) => {

                        return parseInt(el.level_id) == this.selectFilters.levels;

                    });

                });

            }


            let days = JSON.parse(JSON.stringify(this.selectFilters.days));


            if(days.length) {

                _.forEach(sections, (section, s) => {


                    sections[s].groups = section.groups.filter( (el) => {


                        if (!_.isEmpty(el.group_schedule)) {

                           let  pi = [];

                            _.forEach(el.group_schedule, (a, b) => {

                                if (days.indexOf(a.period) !== -1) {
                                    pi.push(b);
                                }

                            });

                            return pi.length; ///==days.length;


                        }

                        return false;

                    });

                });

            }




            return _.filter(sections, function(o) { return o.groups.length; });

        }


    },

    methods: {
        async create(group_id) {

            this.$router.push({name: 'registration.register',params: { id: group_id }});

        },


        async fetchGroups() {

           if(this.isLoading  == null)
                await this.$store.dispatch('groups/fetchGroups');

        }
    }

}
</script>



