<template>
  <ion-page>

    <StandardHeader name="Zajęcia" />


    <ion-content :fullscreen="true">

      <ion-segment @ionChange="defaultViewComponent = $event.detail.value" value="ActivitiesListComponent">

        <ion-segment-button value="ActivitiesListComponent">
          <ion-label>Lista</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ActivitiesMapComponent">
          <ion-label>Mapa</ion-label>
        </ion-segment-button>
      </ion-segment>
      <keep-alive>
      <component v-bind:is="defaultViewComponent"></component>
        </keep-alive>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonSegment, IonSegmentButton,IonMenuButton,IonBadge,IonButtons,IonButton } from '@ionic/vue';

import ActivitiesListComponent from '@/views/activities/components/ActivitiesListComponent.vue'
 import ActivitiesMapComponent from '@/views/activities/components/ActivitiesMapComponent.vue'

import StandardHeader from '@/components/StandardHeader.vue'


export default  {
  name: 'Activities',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonSegment, IonSegmentButton,  IonMenuButton, IonBadge ,IonButtons,IonButton,
  ActivitiesListComponent, ActivitiesMapComponent,StandardHeader
  },
  data() {
    return { defaultViewComponent: 'ActivitiesListComponent'}
  },

  // computed: {
  //   // a computed getter
  //   reversedMessage: function () {
  //     // `this` points to the vm instance
  //     return this.message.split('').reverse().join('')
  //   }
  // },

  methods: {
    segmentChanged(ev: CustomEvent) {
      console.log('Segment changed', ev);
   //   this.loadMap();
    },
    data: function () {
      return {
        map: null,
        filterModal: null
      }
    },

  },
}
</script>