<template>
    <div class="text-left">

        <div class=" my-5">
            <h3>{{ $t('auth_page.register') }}</h3>
        </div>


        <p>{{ $t('auth_page.need') }}</p>

        <div class="my-4 text-center">
        <ButtonCreate  v-on:click.native="register" :message="$t('auth_page.new')"/>
        </div>
        <div class="my-5">
            <h3>{{ $t('auth_page.login') }}</h3>
        </div>

        <form @submit.prevent="login" @keydown="form.onKeydown($event)">

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.email') }}</label>
                <div class="col-md-7">
                    <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
                    <has-error :form="form" field="email" />
                </div>
            </div>

            <!-- Password -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('attributes.password') }}</label>
                <div class="col-md-7">
                    <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                    <has-error :form="form" field="password" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 justify-content-center d-flex">
                    <!-- Submit Button -->

                    <ButtonSave :loading="form.busy" :message="$t('attributes.login')"/>

                </div>
            </div>
        </form>


        <div class="my-5">
<u>
            <router-link :to="{ name: 'password.request', query: { back: this.$route.fullPath } }" class="mt-3 text-dark ">
                {{ $t('forgot_password') }}
            </router-link>
</u>
        </div>



    </div>
</template>

<script>
import Form from 'vform'
import ButtonSave from "../../components/ButtonSave";
import ButtonCreate from "../../components/ButtonCreate";


export default {

    middleware: 'check-auth',

    components: {
        ButtonSave,ButtonCreate
    },



  data: () => ({
    showTab: 'register',
      form: new Form({
          email: '',
          password: '',
      }),

    mustVerifyEmail: false
  }),

  methods: {

      async login () {

          const { data } = await this.form.post( route('api.user.api-login') )


         await this.$store.dispatch('auth/saveToken', { token: 1, user: data.user });
         await this.$store.dispatch('players/savePlayer', { players: data.players });

          this.$router.push({ path: '/registration/group/'+this.$route.params.id+'/register/add_player'})


          },




     register () {
         this.$router.push({ name: 'register', query: { back: this.$route.fullPath } })
    }
  }
}
</script>
