<template>

    <div>

        <div class="text-center m-5">
            <h3>Zapis na zajęcia</h3>
        </div>

        <card :title="$t('your_info')">
            <form @submit.prevent="addToCart" @keydown="form.onKeydown($event)">



                <!-- Name -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">Uczestnik zajęć</label>
                    <div class="col-md-7">
                        <select v-model="form.players_id" :class="{ 'is-invalid': form.errors.has('players_id') }"
                               class="form-control" type="text" name="players_id">
                        <option v-for="id in playersSort" :value="players[id].id">{{players[id].name}} {{players[id].surname}}</option>
                        </select>
                        <has-error :form="form" field="players_id"/>
                        <small  class="form-text text-right">

                            <router-link :to="{ name: 'registration.add_player', params:{ id:this.$route.params.id, addNew: true} }" >+ dodaj uczestnika zajęć spoza listy</router-link>

                            </small>
                    </div>
                </div>



                <!-- surname -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">Umowa</label>
                    <div class="col-md-7">

                        <select v-model="form.agreement_id" :class="{ 'is-invalid': form.errors.has('agreement_id') }"
                               class="form-control" type="text" name="agreement_id">


                            <option v-for="a in _.sortBy(avaliableAgreements, ['position'])" :value="a.id">{{a.value}}</option>


                        </select>
                        <has-error :form="form" field="agreement_id"/>
                    </div>
                </div>


                <!-- Name -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">Pierwsze zajęcia</label>
                    <div class="col-md-7">
                        <div v-if="!_.get(group,'ex.has_yet_start',1)">
                            <select v-model="form.attach_at" :class="{ 'is-invalid': form.errors.has('attach_at') }"
                                    class="form-control" type="text" name="attach_at">

                                <option v-for="f in first_classes" :value="f.date">{{f.format}}</option>
                            </select>
                            <has-error :form="form" field="attach_at"/>
                        </div>
                        <div v-else>
                            {{$t('attributes.has_yet_start') }}
                        </div>

                    </div>
                </div>

                <div class="contract details  my-5">
                <Agreement :agreement="currentContract" />
                </div>

                <alert-error :form="form" :message="this.form.errors.flatten().join(' ')" class="my-4"></alert-error>

                <Alert :close="false" type="secondary"   class="my-4" v-if="saved">

                    Dziękujemy za dokonanie zapisu.

                </Alert>
                <FormFooter>


                    <ButtonSave :loading="form.busy" type="primary" :message="$t('agreements.button')" />

                </FormFooter>

            </form>
        </card>


    </div>


    </div>


</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'

import FormFooter from "../../components/FormFooter";
import ButtonSave from "../../components/ButtonSave";
import groupHelper from '../../helpers/groups.js';
import Agreement from "../../components/Agreement";
import Alert from "../../components/Alert";

export default {

    components: {
        FormFooter,ButtonSave,Agreement,Alert
    },

    middleware: 'check-auth',

    scrollToTop: false,


    computed: {
        ...mapGetters({
            players: 'players/players',
            groups_data: 'groups/data',
        }),
        currentContract: function () {

            if(!this.form.agreement_id)
                return {};

            _.find(this.avaliableAgreements, (o) => { return this.form.agreement_id == this.form.agreement_id },{});

            return this.$store.getters['groups/getAgreementById'](this.form.agreement_id);

        },
        avaliableAgreements: function () {

            return this.$store.getters['groups/getAgreementsByGroup'](this.$route.params.id);

        },
        playersSort: function () {

            return  Object.keys(this.players).reverse();

        },


        first_classes: function () {


            if(_.isEmpty(this.group))
                return [];


            let first_classes = [];

            if(this.group.ex.nearest_class_date)
                first_classes.push({date:this.group.ex.nearest_class_date, format: this.group.parsed_nearest_class_date});

            if(this.group.ex.second_classes)
                first_classes.push({date:this.group.ex.second_classes, format: groupHelper.nearest_class_date(
                        this.group.ex.second_classes,false)});

            if(first_classes.length)
                this.form.attach_at = first_classes[0].date;


            return first_classes;

        },


    },

    data: () => ({
        form: new Form({
            players_id: null,
            agreement_id: null,
            groups_id: null,
            attach_at: null
        }),
        group: null,
        saved: false,
    }),
    created () {

        let players_id = null;

        if(_.size(this.playersSort))
            players_id =this.playersSort[0];

        let agreement_id = null;

        if(_.size(this.players))
            agreement_id =_.get( this.avaliableAgreements ,Object.keys(this.avaliableAgreements)[0]+'.id',null);




        let gr = null;

       let  id =parseInt(this.$route.params.id);

        _.forEach(this.groups_data.sections, (section,s) => {

            _.forEach(section.groups, (group,g) => {

                if(group.id == id) {
                    gr = group;
                    return false;
                }

            });


            if(gr)
                return false;

        });

        this.group = gr;

        this.form.fill({
            players_id: players_id,
            agreement_id: agreement_id,
            groups_id: gr.id,
        });

    },



    methods: {
        async addToCart() {


            const {data} = await this.form.post(route('cart.groups.store'))

            if(!data) {

                this.saved = true;
                return;

            }

          this.$store.dispatch('cart/updateCart', data)




           // this.$router.push({ name: 'participants.index', params: { saved: true } })
        }
    }
}
</script>
