<template>
    <card >

        <NotExist>

            <template v-slot:info>
                {{ $t('groups.procesing_payment') }}
            </template>


            <template v-slot:icon>
                <i class="fad fa-cogs fa-7x"></i>

            </template>

            <template v-slot:button>

                <ButtonSave v-on:click.native="go" type="primary" :message="$t('groups.check_payment_status')"/>

            </template>


        </NotExist>


    </card>
</template>

<script>


import NotExist from "../../components/NotExist";

import ButtonSave from "../../components/ButtonSave";


export default {
    scrollToTop: false,

    middleware: 'check-auth',

    components: {
        NotExist,  ButtonSave
    },

    created() {
        this.$store.dispatch('cart/clearCart')
    },

    methods: {
         go() {

            this.$router.push({name: 'payments.topay'});

        },


    }

}
</script>
