<template>
  <ion-page  class="bg-gray-100">

    <StandardHeader />

    <ion-content :fullscreen="true">

      <component v-bind:is="isLogged ? 'LoggedUserComponent' : 'AnonymousUserComponent'"></component>

    </ion-content>
  </ion-page>
</template>

<script lang="ts">

import LoggedUserComponent from '@/views/home/components/LoggedUserComponent.vue';
import AnonymousUserComponent from '@/views/home/components/AnonymousUserComponent.vue';

import StandardHeader from "@/components/StandardHeader.vue";

import {mapGetters} from 'vuex'

export default  {
  name: 'Tab3',
  components: { StandardHeader,AnonymousUserComponent,LoggedUserComponent },
  computed: {
    ...mapGetters({
      isLogged: 'auth/isLogged',
    }),
  },
}
</script>