<template>
  <ion-app>
    <MainMenu></MainMenu>
    <ion-router-outlet />
  </ion-app>
</template>

<script lang="ts">
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import { defineComponent } from 'vue';
import MainMenu from '@/components/MainMenu.vue';


import {
  Plugins,
  PushNotification,
  PushNotificationToken,
  PushNotificationActionPerformed,
} from '@capacitor/core';

const { PushNotifications } = Plugins;

export default defineComponent({
  name: 'App',
  async mounted() {





  await   this.$store.dispatch('setting/fetchSetting')
 //   this.$store.dispatch('groups/fetchGroups')


    // // Request permission to use push notifications
    // // iOS will prompt user and return if they granted permission or not
    // // Android will just grant without prompting
    // PushNotifications.requestPermission().then( result => {
    //   if (result.granted) {
    //     // Register with Apple / Google to receive push via APNS/FCM
    //     PushNotifications.register();
    //   } else {
    //     // Show some error
    //   }
    // });
    //
    // // On success, we should be able to receive notifications
    // PushNotifications.addListener('registration',
    //     (token: PushNotificationToken) => {
    //       alert('Push registration success, token: ' + token.value);
    //     }
    // );
    //
    // // Some issue with our setup and push will not work
    // PushNotifications.addListener('registrationError',
    //     (error: any) => {
    //       alert('Error on registration: ' + JSON.stringify(error));
    //     }
    // );
    //
    // // Show us the notification payload if the app is open on our device
    // PushNotifications.addListener('pushNotificationReceived',
    //     (notification: PushNotification) => {
    //       alert('Push received: ' + JSON.stringify(notification));
    //     }
    // );
    //
    // // Method called when tapping on a notification
    // PushNotifications.addListener('pushNotificationActionPerformed',
    //     (notification: PushNotificationActionPerformed) => {
    //       alert('Push action performed: ' + JSON.stringify(notification));
    //     }
    // );


  },
  components: {
    IonApp,
    IonRouterOutlet,
    MainMenu
  }
});
</script>