<template>

        <transition name="fade" mode="out-in">
            <router-view />
        </transition>

</div>



</template>

<script>
export default {
  computed: {
    tabs () {
      return [
        {
          icon: '<i class="fal fa-user-circle"></i>',
          name: this.$t('auth.register'),
          route: { name:'register'}
        },

          {
              icon: '<i class="fal fa-key"></i>',
              name: this.$t('auth.login'),
              route: { name:'login'}
          }

      ]
    }
  }
}
</script>


