<template>
  <div class="row auth_page">
    <div class="col-12 col-md-6 pt-3">
        <h1>{{$t('auth_page.login')}}</h1>

        <form @submit.prevent="login" @keydown="form.onKeydown($event)" class="my-4">


            <Alert v-if="$route.params.removed_account">
                {{ $t('account.account_removed') }}
            </Alert>


          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-12 col-md-6">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
            <div class="col-12 col-md-6">
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                <has-error :form="form" field="password" />
            </div>
          </div>


          <div class="form-group row">
            <div class="col-md-7 offset-md-3">

                <ButtonSave :loading="form.busy" :message="$t('login')" />

                <div class="my-5">
                    <u>
                    <router-link :to="{ name: 'password.request' }" class="mt-3 text-dark  ">
                        {{ $t('forgot_password') }}
                    </router-link>
                    </u>
                </div>

            </div>
          </div>
        </form>
    </div>


      <div class="col-12 col-md-6 pt-4">
          <h1>{{$t('auth_page.no_account')}}</h1>
          <p class="my-4 grayed">{{$t('auth_page.no_account_desc')}}</p>
          <ButtonCreate v-on:click.native="$router.push({name: 'register'})" :message="$t('auth_page.new')"/>
      </div>
  </div>
</template>

<script>
import Form from 'vform'

import Alert from "../../components/Alert";
import ButtonSave from "../../components/ButtonSave";
import ButtonCreate from "../../components/ButtonCreate";

export default {
  middleware: 'guest',

  components: {
    Alert,ButtonSave,ButtonCreate
  },


  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.

      const { data } = await this.form.post( route('api.user.api-login') );


        if(_.isEmpty(data.user))
        {

            alert('Prosimy spróbować później');
            return;

        }

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: '1',
        user: data.user,
        remember: this.remember
      });


        await this.$store.dispatch('players/savePlayer', { players: data.players });


     // Fetch the user.
  //    await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'payments.topay' })
    }
  }
}
</script>
