<template>
  <div class="row justify-content-md-center auth_page">
    <div class=" col-12 col-md-6 pt-3">

        <h1>{{$t('auth_page.register')}}</h1>

      <card :title="$t('register')" class="pt-2">
          <form @submit.prevent="register" @keydown="form_login.onKeydown($event)">



              <h3>Twoje dane</h3>

                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="name">{{ $t('attributes.name') }}</label>
                              <input type="text" v-model="form_login.name" autocomplete="given-name"
                                     :class="{ 'is-invalid': form_login.errors.has('name') }" class="form-control" autofocus
                                     minlength="3" id="name">
                              <has-error :form="form_login" field="name"/>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="surname">{{ $t('attributes.surname') }}</label>
                              <input type="text" v-model="form_login.surname"  autocomplete="family-name"
                                     :class="{ 'is-invalid': form_login.errors.has('surname') }"
                                     class="form-control" minlength="1" id="surname">
                              <has-error :form="form_login" field="surname"/>
                          </div>
                      </div>



              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="phone">{{ $t('attributes.phone') }}</label>
                      <input type="tel" v-model="form_login.phone"  autocomplete="tel-local"
                             inputmode="tel"
                             :class="{ 'is-invalid': form_login.errors.has('phone') }" class="form-control"
                             minlength="9" maxlength="9" id="phone">
                      <has-error :form="form_login" field="phone"/>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="email">{{ $t('attributes.email') }}</label>
                      <input inputmode="email" type="email" v-model="form_login.email"  autocomplete="email"
                             :class="{ 'is-invalid': form_login.errors.has('email') }"
                             class="form-control" minlength="1" id="email">
                      <has-error :form="form_login" field="email"/>
                  </div>
              </div>



              <h3>Adres</h3>

              <div class="form-row">
                  <div class="form-group col-md-12">
                      <label for="address.street">{{ $t('address.street') }}</label>
                      <input type="text" v-model="form_login.address.street"  autocomplete="street-address"
                             :class="{ 'is-invalid': form_login.errors.has('address.street') }" class="form-control"
                              minlength="3" id="address.street">
                      <has-error :form="form_login" field="address.street"/>
                  </div>
                  <div class="form-group col-4">
                      <label for="address.postal">{{ $t('address.postal') }}</label>
                      <input type="text" v-model="form_login.address.postal"  autocomplete="postal-code"
                             :class="{ 'is-invalid': form_login.errors.has('address.postal') }" class="form-control"
                             minlength="3" id="address.postal">
                      <has-error :form="form_login" field="address.postal"/>
                  </div>
                  <div class="form-group col-8">
                      <label for="address.city">{{ $t('address.city') }}</label>
                      <input type="text" v-model="form_login.address.city"  autocomplete="address-level2"
                             :class="{ 'is-invalid': form_login.errors.has('address.city') }"
                             class="form-control" minlength="3" id="address.city">
                      <has-error :form="form_login" field="address.city"/>
                  </div>
              </div>

              <h3>Hasło do konta</h3>


              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="password">{{ $t('attributes.set_password') }}</label>
                      <input type="password" v-model="form_login.password"  autocomplete="new-password"
                             :class="{ 'is-invalid': form_login.errors.has('password') }" class="form-control"
                             minlength="8" id="password">
                      <has-error :form="form_login" field="password"/>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="password_confirmation">{{ $t('attributes.password_confirmation') }}</label>
                      <input v-model="form_login.password_confirmation" autocomplete="new-password"
                             :class="{ 'is-invalid': form_login.errors.has('password_confirmation') }" type="password"
                             class="form-control" minlength="8" id="password_confirmation">
                      <has-error :form="form_login" field="password_confirmation"/>
                  </div>
              </div>


              <div class="form-group row">
                  <div class="col-12">

                      <div class="form-check">
                          <input class="form-check-input"          :class="{ 'is-invalid': form_login.errors.has('password_confirmation') }"
                                 v-model="form_login.terms" type="checkbox" id="termscheck" required >
                          <label class="form-check-label" for="termscheck" v-html="$t('auth_page.terms')">

                          </label>
                          <has-error :form="form_login" field="terms"/>
                      </div>



                      <div class="text-center p-5">
                          <alert-error class="mb-4" :form="form_login" :message="$t('form.error')"></alert-error>
                          <ButtonSave :loading="form_login.busy" :message="$t('auth_page.new')" />

                      </div>

                  </div>


              </div>
          </form>
      </card>
    </div>

<div class="col-12 col-md-8 ">
    <transition name="fade">
    <div :class="(show_rodo ? 'rodo_max': 'rodo_min')" class="rodo">{{ $t('auth_page.rodo') }}</div>
    </transition>
    <div class="rodo_show p1">
    <a  href="#" v-on:click.prevent.stop="show_rodo = !show_rodo" >{{ !show_rodo ? $t('auth_page.show_more') : $t('auth_page.cut') }}</a>
    </div>

</div>
  </div>
</template>

<script>
import Form from 'vform'

import Alert from "../../components/Alert";
import ButtonSave from "../../components/ButtonSave";
import ButtonCreate from "../../components/ButtonCreate";

export default {
  middleware: 'guest',

    components: {
        Alert,ButtonSave,ButtonCreate
    },

  data: () => ({
      form_login: new Form({
        name: '',
        surname: '',
        phone: '',
        email: '',
        password: '',
          terms: null,
        password_confirmation: '',
          address: {
            street: null,
              postal: null,
              city: null,
          }

    }),
      show_rodo: 0,
  }),

  methods: {
      async register () {
          // Register the user.
          const { data } = await this.form_login.post( route('api.user.api-register') );


          if(data.success) {

              this.$store.dispatch('auth/saveToken', {token: 1, user: data.user});


              if (this.$route.query.back) {
                  this.$router.push({path: this.$route.query.back})
              } else {
                  this.$router.push({name: 'payments.topay'})
              }

          }


      }
  }
}
</script>
